<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<midi-selector></midi-selector>

<controller-panel></controller-panel>

<div class="layout-container" style='position: relative; border: inset; height: 500px'>
  <app-fader-h ngDraggable style="width: 500px; transform: rotate(-90deg);" fadername="Fader_1" msg="d1c1cc1"></app-fader-h>
  <app-fader-h ngDraggable style="width: 500px; transform: rotate(-90deg);" [fadername]="'Fader_2'"></app-fader-h>
</div>
